<nav>
    <a href="/" class="nav-links button-55">Home</a>
    <a href="/foods" class="nav-links button-55">Foods list</a>
    <a href="/foods/new" class="nav-links button-55" >Add new food</a>
  </nav>
