<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Foods App</title>
</head>

<body>
  <%- include("./partials/nav") %>
  <h1>Welcome to the Foods App!</h1>
  <h2 id="h2">An app for collecting your favorite Foods.</h2>
  <img src="https://i.ibb.co/1fz3Wn9/landing-page-image-removebg-preview.png" alt="Icon that has a spoon and fork place on a plate">
  <a href="/foods" class="button-55">Browse Foods</a>

</body>

</html>