<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a food</title>
</head>
<body>
    <%- include('../partials/nav') %>
    <h1>Create a new food!</h1>
    <form action="/foods" method="POST">
        
        <label for="image">Image URL:</label>
        <input type="file" accept="image/*" name = "image" id = "image"/>

        <label for="name">Name:</label>
        <input type="text" name="name" id="name"/>

        <label for="description">Description:</label>
        <input type="text" name="description" id="description"/>

<% if(require){ %>
<h3>All fileds required</h3>
<% } %>

        <button type="submit">Add food</button>
    </form>
</body>
</html>